/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------ */

/* ----------- Настройка страницы ----- */

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	background:  white/*url(images/bg.png) repeat*/;
}

.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.wrapper:after {
	content: "";
	display: block;
	height: 100px;
	clear: both;
	overflow: hidden;
}

.maincontent {
	padding-bottom: 0;
}

.footer {
	width: 100%;
	height: 100px;
	margin-top: -100px;
	position: relative;
}

.container {
	clear: both;
	overflow: hidden;
	margin: 0 auto;
	max-width: 960px;
	min-width: 320px;
	padding: 0 20px;
	//outline: 1px solid black;
}

.container::after {
	display: block;
	clear: both;
	visibility: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

/* ---------- =Header страницы --------- */

.header {
	background: #362914 url(images/header_bg.jpg) center center no-repeat;
	padding: 20px 0 30px 0;
	box-shadow: inset 0px -2px 12px 0px black;
	border-bottom: 1px solid #594522;
}

.header__title,
.header__sub-title,
.header__desc {
	text-align: center;
}

.header__title {
	color: #c5c3a9;
	font-size: 30px;
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	text-shadow: 3px 3px 2px black;
}

.header__sub-title {
	color: #af9671;
	font: italic 18px Georgia, sans-serif;
	text-shadow: 3px 3px 2px black;
}

.header__desc {
	color: #cfcdb4;
	margin-top: 30px;
	font: 18px Georgia, sans-serif;
}


/* ---------- =Content секция с работами --------- */

.content {
	background-color: #201b0e;
	padding: 30px 0;
	border-bottom: 1px solid #16130a;
}

.content__title {
	font: 18px Arial,sans-serif;
	color: #ea9f3e;
	text-transform: uppercase;
}

.content__list {
	margin-top: 24px;
}

.content__list::after {
	content: "";
	display: block;
	clear: both;
}

.content__item {
	float: left;
	margin-left: 24px;
	margin-bottom: 64px;
}

.content__img-box {
	width: 290px;
	height: 155px;
	padding: 5px;
	border: 1px solid #3c3218;
}

.content__img-box:hover {
	border-color: #ea9f3e;
}

.content__item:first-child,
.content__item:nth-child(4) {
	margin-left: 0;
}

.content__img {
	width: 100%;
	height: 100%;
}

.content__img-desc {
	font: 14px Georgia, sans-serif;
	margin-top: 8px;
}

.content__img-name {
	font-weight: bold;
	color: #af9671;
}

.content__img-data {
	color: #cfcdb4;
}

/* ---------- =Footer страницы --------- */

.footer {
	background-color: #2d2413;
	padding: 46px 0;
	border-top: 1px solid #594522;
}

.footer__copyright {
	color: #cfcdb4;
	font: 14px Georgia, sans-serif;
}

.footer__copyright span {
	color: #ea9f3e;
}


/*
************* Медиа запросы ****************
*/

@media screen and (max-width: 992px) {

	.content__img-box {
		width: 220px;
	}
} 

@media screen and (max-width: 768px) {

	.content__img-box {
		width: 250px;
	}

	.content__item:nth-child(3),
	.content__item:nth-child(5) {
		margin-left: 0;
	}

	.content__item:nth-child(4) {
		margin-left: 24px;
	}
}

@media screen and (max-width: 582px) {
	.content__item {
		margin-left: 0 !important;
	}
}